@model IEnumerable<ETicketing.ViewModels.Email.EmailTemplateIndexViewModel>
@{

}

<h2>Email Template</h2>
<div class="col-md-12">
    <div class=" form-group">
        <a class="btn btn-primary btn-icon-text" asp-area="" asp-controller="EmailTemplate" asp-action="Create"><i class="ti-plus btn-icon-prepend"></i> Add</a>
    </div>
    <table id="templateTable" class=" table table-bordered ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>

            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td > @item.Id</td>
                <td > @item.Type</td>

                <td>
                    <a class=" btn btn-info btn-sm">Edit</a>
                    <a class=" btn btn-secondary btn-sm"target="_blank" asp-area="" asp-controller="EmailTemplate" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class=" btn btn-info btn-sm"target="_blank" asp-area="" asp-controller="EmailTemplate" asp-action="Preview" asp-route-roleId="@item.Id">Preview</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


